body{
  min-height: 100vh;
}
body{
  background: url("../media/bg.jpg");

  background-size: cover;
  background-repeat: repeat;
  background-position: center;
  overflow-y: scroll;
  overflow-x: hidden; 

  

}
::-webkit-scrollbar {
  width: 0px;
}

/*regex output css*/
#copyImg:hover{
  cursor: pointer;
}
#regexOutput{
  width: 100%;
  font-size: 14px;
}
#copyImg{
  width: 5%;
}
#copyImg img{
  width: 100%;
}

/* loading bar & animation */
.container{
  perspective: 700px;
  position: relative;
}
.program{
  opacity: 0;
  transform: rotateX(40deg);
  transform-origin:center top; 
}

.icons-container{
  position: absolute;
  top: 0; right: 0;
}
.icons-container a{
  text-decoration: none;
}
.icons-container i{
  opacity: 0;
  transition: all 300ms ease;
  display: block;
  font-size: 40px;
  color: white;
  transform: translatex(0px) rotateZ(-195deg);
}
.icons-container a:nth-child(2) i{
  margin-top: 25px;
  font-size: 2.6em;
}
.icons-container i:hover{
  cursor: pointer;
  color: rgb(202, 220, 255);
}
@media(max-width: 750px){
  .icons-container{
    top: -70px; left: 50%;
    transform: translateX(-50%);
  }
  .icons-container i{
    display: inline-block;
  }
}


@keyframes loadBar{
  0%{ width: 0%; }
  100%{ width: 100%; }
}
@keyframes programOpacity{
  0%{ transform: rotateX(40deg); opacity: 0; }
  35%{ transform: rotateX(-10deg); }
  60%{ transform: rotateX(5deg); }
  82%{ transform: rotateX(-2deg); }
  100%{ transform: rotateX(0deg); opacity: 1; }
}