body{
  min-height: 100vh;
}
body{
  background: url("../media/bg.jpg");

  background-size: cover;
  background-repeat: repeat;
  background-position: center;
  overflow-y: scroll;
  overflow-x: hidden; 

  

}
::-webkit-scrollbar {
  width: 0px;
}

/*regex output css*/
#copyImg:hover{
  cursor: pointer;
}
#regexOutput{
  width: 100%;
  font-size: 14px;
}
#copyImg{
  width: 5%;
}
#copyImg img{
  width: 100%;
}

/* loading bar & animation */
.container{
  perspective: 700px;
}
.program{
  opacity: 0;
  transform: rotateX(40deg);
  transform-origin:center top; 
}

@keyframes loadBar{
  0%{ width: 0%; }
  100%{ width: 100%; }
}
@keyframes programOpacity{
  0%{ transform: rotateX(40deg); opacity: 0; }
  35%{ transform: rotateX(-10deg); }
  60%{ transform: rotateX(5deg); }
  82%{ transform: rotateX(-2deg); }
  100%{ transform: rotateX(0deg); opacity: 1; }
}